In [33]:
# 데이터 불러오기
import pandas as pd

bike_df = pd.read_csv('./datasets/bikerental.csv')
bike_df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [34]:
# feature label 분리
features = bike_df.loc[:, ['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'windspeed']]
label = bike_df["count"]

In [35]:
# 미사용 컬럼 삭제
bike_df.drop(['datetime', 'casual', 'registered', 'count'], axis=1, inplace=True)

In [36]:
features

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,1,0,0,1,9.84,14.395,81,0.0000
1,1,0,0,1,9.02,13.635,80,0.0000
2,1,0,0,1,9.02,13.635,80,0.0000
3,1,0,0,1,9.84,14.395,75,0.0000
4,1,0,0,1,9.84,14.395,75,0.0000
...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027
10882,4,0,1,1,14.76,17.425,57,15.0013
10883,4,0,1,1,13.94,15.910,61,15.0013
10884,4,0,1,1,13.94,17.425,61,6.0032
10885,4,0,1,1,13.12,16.665,66,8.9981

In [37]:
# train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=4)

In [39]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
X_train = std.fit_transform(X_train)
X_test = std.fit_transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

## 하이퍼파라미터 GridSearchCV
params = {'C' : [1,10],
          }

rf_clf = RandomForestRegressor(random_state=156. n_jobs=-1)
grid_cv = GridSearchCV(rf_clf, param_grid=params, cv=2, scoring='neg_mean_squared_error', n_jobs=-1)
grid_cv.fit(X_train, y_train)
best_dt = grid_cv.best_estimator_

In [ ]:
from sklearn.metrics import mean_squared_error

results_dt = best_dt.predict(X_test)
results_svr = best_regressor.predict(X_test)

print('랜덤 포레스트 mse :' )